*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro' , sans-serif;
}
@font-face {
    font-family: CalibreR;
    src: url(Assets/Calibre-Regular.woff2);
}
@font-face {
    font-family: CalibreM;
    src: url(Assets/Calibre-Medium.woff2);
}
@font-face {
    font-family: CalibreB;
    src: url(Assets/Calibre-Semibold.woff2);
}
body{
    background-color: #ede8e6;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    display: none;
  }
.heading span{
    font-family: 'CalibreB', sans-serif;
    font-size: 3vw;
    font-weight:800;
    line-height: 0.7;
}
.centera{
    display: flex;
    align-items: center;
}
.centerj{
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    margin-inline: 8vh;
}
.nav.animate{
    visibility: hidden;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
#Menu{
    padding-right: 80px;
    cursor: pointer;
}
#menuNav:hover{
    background: white;
    border: 1px solid #ffad00;
    fill: #ffad00;
}
#navig{
    font-family: CalibreB;
    font-size: 18px;
}

.moon{
    cursor: pointer;
    text-decoration: underline; 
}
.moon:hover{
    animation: moonUnder 1s;
}
@keyframes moonUnder {
    from, to{ 
        text-decoration: underline;
    }
    50%{
        text-decoration: none;
    }
        
}
#Menu{
    transition: 0.3s ease;
}
#tag{
    transition: color 0.7s ease;
    transition: opacity 0.2s ease;
}
.moon a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    margin-top: 10vh;
    margin-inline: 9vh;
}
.underlined{
    text-decoration: underline #ffad00;
}
.heading2 span{
    font-family: 'CalibreB', sans-serif;
    font-size: 8vw;
    font-weight: 800;
    line-height: 0.8;
}
#intro{
    margin-top: 27vh;
    position: relative;
}
#birth{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 63vw;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 17px;
    text-underline-offset: 2px;
    color: #262626;
}
.video{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
#varHt{
    width: 90%;
    overflow: hidden;
}
#menuNav{
    content: '';
    position: absolute;
    transform: translate(30px,-10px);
    height: 40px;
    width: 40px;
    background: #ffad00;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 2;
}
.anotherHeadingLMAO span{
    font-family: CalibreB, sans-serif;
    font-size: 10vw;
    font-weight: 800;
    line-height: 0.8;
}
.anotherHeadingLMAO{
    display: flex;
    margin-top: 9vw;
    justify-content: center;
    margin-right: 10vw;
    margin-left: 22vw;
}
#content{
    margin-left: 25vw;
    margin-right: 7vw;
    line-height: 1.7;
    font-size: 19px;
    color: #262626;
}
.secondC{
    padding-left:6vw;
}
.firstC{
    padding-right: 5vw;
}
.smallerHead span{
    font-family: CalibreB, sans-serif;
    font-size: 6vw;
    font-weight: 800;
    line-height: 0.8;
}
.smallerHead{
    display: flex;
    margin-top: 9vw;
    justify-content: center;
    margin-left: 18vw;
}
#chartArea{
    display: flex;
    align-items: center;
    margin-inline: 10vw;
    justify-content: space-between;
    position: relative;
    margin-top: 30vh;
}
.desc{
    font-size: 40px;
    font-family: CalibreB, sans-serif;
    line-height: 1;
    /* padding-right: 25vw; */
}
.desc::after{
    content: "";
    position: absolute;
    background: url(assets/chart.svg)  no-repeat;
    background: url(Assets/chart.svg) no-repeat;
    transform: translate(20vw,-45vh);
    width: 43vw;
    height: 70vh;
}
.sauce{
    margin-inline: 10vw;
    margin-top: 125px;
    font-size: 15px;
    color: #666666;
}
#promise{
    margin-left: 17vw;
}
#promise span{
    line-height: 0.84;
    font-size: 9vw;
}
#parallaxText{
    justify-content: space-between;
    display: flex;
    margin-inline: 10vw;
    margin-top: 8vh;   
}
.imgHolder img{
    width: 100%;
}
.imgHolder{
    margin-right: -13vw;
    
}
.text{
    margin-left: 20vw;
    line-height: 1.7;
    font-size: 19px;
}
#story{
    margin-top: 20px;
    font-family: CalibreB;
    font-size: 5vw;
    margin-left: 10vw;
}
.caroCont{
    margin-top: 25px;
    margin-left: 10vw;
    display: flex;
}
/* .picHere{
    transform: translateX(-80em)
} */
#im1{
    position: absolute;
    left: 13em;
    width: 80em;
}
#im2{
    position: absolute;
    left: 100em;
    width: 80em;
}
#im3{
    position: absolute;
    left: 187em;
    width: 80em;
}
#im4{
    position: absolute;
    left: 274em;
    width: 80em;
}
#im5{
    position: absolute;
    left: 361em;
    width: 80em;
}
.slide{
    width: 80%;
}
/* .slide img{
    width: 100%;
} */
#roboMoon{
    margin-top: 5em;
    z-index: 5; 
}
#contentOof{
    display: flex;
    margin-left: 25vw;
    margin-right: 7vw;
    line-height: 1.7;
    font-size: 19px;
    color: #262626;
    padding-bottom: 14vh;
    z-index: 5;
}
.right{
    padding-left:5vw;
}
.left{
    padding-right: 4vw;
}
.left video{
    margin-top: 10vh;
    margin-left: -12vw;
    width: 100%;
}
#footContainer{
    background-color: #11100e;
    color: white;
    padding-top: 12vh;
    padding-inline: 4vw;
    z-index: -2;
}
.discover{
    font-family: CalibreB;
    font-size: 2.6vw;
}

.journey{
    margin-top: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #292827;
}
#main{
    font-family: CalibreB;
    font-size: 16vw;
    cursor: pointer;
}
#detail{
    font-size: 19px;
    line-height: 1.7;
}
.preFooter{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #292827;
    padding-bottom: 4rem;
}
.right2{
    display: flex;
    justify-content: space-between;
    width: 50%;
    line-height: 2.5;
}
.column{
    flex-direction: column;   
}
.navi{
    font-family: CalibreM;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.navi:hover{
    color: #ffad00;
}
.icon{
    margin-top: 41px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid #666666 1px;
    cursor: pointer;
    transition: 0.2s all linear;
}
.icon:hover{
    border: solid white 1px;
}
.icon i{
    transform: translate(20px, 20px);
}
#navig{
    transition: all 0.3s;
}
.footer{
    margin-top: 1rem;
    font-family: CalibreR;
    color:#888887;
    padding-bottom: 1rem;
}
.rounded{
    width: 60px;
    height: 60px;
    background-color: #ffad00;
    border-radius: 50%;
}
.heading2 span{
    transform: translateY(200%);
}
.heading2 span.active{
    transform: translateY(0%);
    transition: 1s ease-out;
}
.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 0.6s ease;
}
.heading2{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 0.6s ease;
}
.heading2.active{
    transform: translateY(0px);
    opacity: 1;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.menuLinks{
    display: none;
    color: white;
    width: 100vw;
    height: 100vh;
    transition: 0.4s all;
    z-index: 10;
    background-color: #11100e;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #11100e;
    color: white;
    z-index: 6;
    transition: all 0.7s;
    clip-path: circle(10px at calc(100% - 11vh) 10vh);
    overflow: hidden;
    visibility: hidden;
}
.roboLinks{
    overflow: hidden;
    display: flex;
    margin-left: 65px;
    margin-top: 24vh;
    margin-right: 150px;
    /* margin-bottom: 30vh; */
    justify-content: space-between;
}
.photo img{
    width: 50%;
    height: 90%;
}
.naviW{
    font-family: CalibreB;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.photo{
    display: flex;
    margin-bottom: 10vh;
    width: fit-content;
}
#wrap3 div{
    font-size: 1.1rem;
}
#wrapFoot{
    display: flex;
}
#wrap1{
    margin-left: -30vw;
}
#wrap1,#wrap2{
    padding-top: 5vh;
}
.wrapFoot{
    display: flex;
    justify-content: center;
    margin-top: -11rem;
}
#wrap3{
    justify-content: space-between;
    }
.naviH{
    display: inline;
    font-family: CalibreB;
    margin-inline: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.naviH:hover{
    color:#ffad00;
}
#wIcon{
    margin-top: -5vh;
    position: fixed;
    right:60px;
}
.cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffad00;
    transition: 0.05s linear;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
/* #main:hover ~ .cursor{
    visibility: visible;
    transform: scale(2);
    
} */
.cursor i{
    color: black;
    transform: translate(16px,7px);
    font-size:9px;
}
.cursor2{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffad00;
    transition: 0.05s ease;
    visibility: hidden;
}
.cursor2 i{
    color: black;
    transform: translate(16px,7px);
    font-size:9px;
}
/* .naviW:hover ~ .cursor2{
    visibility: visible;
    transform: scale(2);
} */
.cursor3{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffad00;
    transition: 0.05s ease;
    visibility: hidden;
}
.cursor3 i{
    color: black;
    transform: translate(16px,7px);
    font-size:9px;
}
/* .naviW:hover ~ .cursor3{
    visibility: visible;
    transform: scale(2);
} */
.cursor4{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffad00;
    transition: 0.05s ease;
    visibility: hidden;
}
.cursor4 i{
    color: black;
    transform: translate(16px,7px);
    font-size:9px;
}
.imgCont:hover ~ .cursor4{
    visibility: visible;
    transform: scale(2);
}
.slide{
    cursor: pointer;
}
.slide.active{
    cursor:default;
}
#carousel-container{
    overflow: hidden;
    margin: 4rem 0;
}
#carousel-slide{
    margin-left: 15rem;
    display: flex;
    gap: 4rem;
    width: 350vw;
}
.imgCont{
    width: 70vw;
    position: relative;
}
.caroNavi{
    width: 70vw;
    height: 80vh;
    cursor: default;
}
.info{
    position: absolute;
    top: 205px;
    left: 200px;
    color: white;   
}
.slideIntro{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: CalibreB;
}
.playButton{
    margin-top: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background:white;
    cursor: pointer;
    transition: 0.2s all linear;
}
.playButton:hover{
    background-color: #ffad00;
}
.playButton i{
    color: black;
    font-size: 22px;
    transform: translate(26px, 18px);   
}
.play{
    margin-top: -40px;
    margin-left: 80px;
    font-size: 20px;
    font-family: CalibreB;
}
.info h2{
    font-size: 40px;
    font-weight: 700;
    font-family: CalibreB;
}
.map {
    margin: 5rem 0 0 20rem;
    display: flex;
    gap: 0.8rem;
}
.mapDiv{
    cursor: pointer;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(213,208,207);
    transition: all 0.4s;
}
.special{
    width: 50px;
    background-color: rgb(255,173,0);
}
